<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost/GeoLib.WebHost/GeoService.svc"
                binding="netTcpBinding"
                contract="GeoLib.Contracts.IGeoService"/>
    </client>
  </system.serviceModel>
</configuration>