<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost/GeoLib.WebHost/GeoService.svc"
                binding="netTcpBinding"
                contract="GeoLib.Contracts.IGeoService"
                name ="tcpEP"/>
      <endpoint address="http://localhost/GeoLib.WebHost/GeoService.svc" 
                binding="wsHttpBinding" 
                contract="GeoLib.Contracts.IGeoService"
                name ="httpEP"/>

      <endpoint address="net.tcp://localhost:8010/MessageService"
                binding="netTcpBinding"
                contract="GeoLib.Proxies.IMessageService"
                name ="tcpEP2"/>
      <endpoint address="http://localhost:35000/MessageService"
                binding="wsHttpBinding"
                contract="GeoLib.Proxies.IMessageService"
                name="httpEP2"/>
    </client>
  </system.serviceModel>
</configuration>