<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <!--<system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/GeoService"
                binding="netTcpBinding"
                contract="GeoLib.Contracts.IGeoService"
                bindingConfiguration="MyBex"
                name ="tcpEP"/>
      <endpoint address="http://localhost/GeoService"
                binding="wsHttpBinding"
                contract="GeoLib.Contracts.IGeoService"
                name ="httpEP"/>
    </client>
    
    <bindings>
      <netTcpBinding>
        <binding name="MyBex" sendTimeout="00:00:30" maxReceivedMessageSize="2000000"/>
      </netTcpBinding>
    </bindings>
    
  </system.serviceModel>-->
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGeoService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IGeoService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8009/GeoService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGeoService" contract="ServiceReference1.IGeoService"
                name="NetTcpBinding_IGeoService">
                <identity>
                    <userPrincipalName value="DESKTOP-3QDQN8G\evgen" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/GeoService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IGeoService" contract="ServiceReference1.IGeoService"
                name="WSHttpBinding_IGeoService">
                <identity>
                    <userPrincipalName value="DESKTOP-3QDQN8G\evgen" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>